# Python
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
# PyCharm
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace
.history/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Virtual environments
.env
/venv/
.venv
env/
ENV/
env.bak/
venv.bak/

# folders used for development only
.dev/
.bak/
automatic-transmission.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

