# ide files
.idea

# folder containers contents specific to each instance
.env
/venv/
!templates/.env

# filter parameters will be personalized per use
config/filter-parameters.json
!config/.keep

# all data should be generated upon ingestion, and not saved to repo
automatic-transmission.log

# ignore contents of data folder but not the folder itself
data/*
!data/.keep

# folder used for storing test execution scripts
test.py
.bak